services:
  web:
    image: ${DOCKERHUB_USERNAME}/study-planner:latest
    ports:
      - "80:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data

volumes:
  redis_data:
